<!-- Begin Page Header -->
				<div class="header">
					<div class="container">
						<div class="row">
							<!-- Page Title -->
							<div class="col-sm-6 col-xs-12">
								<h1>About us</h1>
							</div>

							<!-- Breadcrumbs -->
							<div class="col-sm-6">
								<ol class="breadcrumb">
									<li><span class="ion-home breadcrumb-home"></span><%= link_to 'Home', root_path %></li>
									<li>Pages</li>
									<li>About us</li>
								</ol>
							</div><!-- /column --> 
						</div><!-- /row -->  
					</div><!-- /container -->  
				</div><!-- /page header --> 
				
			</header><!-- /header -->
			<!-- End Header -->

			<!-- Begin Content Section -->
			<section class="content-40mg">
				<div class="container">
					<div class="row">
						<!-- Content -->
						<div class="col-sm-6 fadeInLeft-animated">
							<div class="heading mb20"><h4><span class="ion-android-developer mr15 swing-animated"></span>Who We Are</h4></div>
							<p>We’re comprised network of builders, innovators and thinkers harnessing the power of technology to transform their lives, communities and the world.</p>
						</div><!-- /column -->
						<!-- End Content -->

						<!-- Video -->
						<div class="col-sm-6 responsive-video mt30-xs mb15-xs fadeInRight-animated">
							<iframe src="https://player.vimeo.com/video/131450910?title=0&byline=0&portrait=0" width="500" height="281" style="border: none; border-width: 0px;"></iframe>
						</div><!-- /column -->
					</div>
					<!-- Begin What We Do -->
					<div class="row mt20">
						<div class="col-sm-12">
							<div class="heading mb15"><h4>What We Do?</h4></div>
						</div>
						<div class="col-sm-4">
						    <h4><span class="ion-android-share bordered-icon-sm mr15 bounce-animated"></span> Connect.</h4>
						    <p class="no-margin">We are currently focusing  on the development of the Ecosystem Network, an online community platform that will connect Chicago’s black tech community.</p>
						</div>
						<div class="col-sm-4 mt20-xs">
						    <h4><span class="ion-stats-bars bordered-icon-sm mr15 bounce-animated"></span> Measure.</h4>
						    <p class="no-margin">In addition to connecting the black tech community, our platform will measure the activity and impact of our ecosystem, by providing insights through our custom metrics framework.</p>
						</div>
						<div class="col-sm-4 mt20-xs">
						    <h4><span class="ion-arrow-shrink bordered-icon-sm mr15 bounce-animated"></span> Direct.</h4>
						    <p class="no-margin">Use the data from our metrics to share valuable insights and strategically drive the growth of our ecosystem.</p>
						</div>
					</div>
				</div><!-- End Container> -->
			</section> <!-- End What We Do -->
			
			<!-- Why Chicago -->
			<section class="content-40mg">
				<div class="container">
					<div class="row mt20">		
						<div class="col-sm-12">
							<div class="heading mb15"><h4>Why Chicago?</h4></div>
						</div>
					</div>
					<!-- Power City  -->
					<div class="row">
						<div class="col-sm-2 col-xs-6 hidden-xs" data-sr="enter left over .5s">
							<a href="#" class="image-zoom-link thumbnail br-50">
								<img class="img-circle img-responsive" src="/assets/images/PowerCity.jpg" alt="Power City">
							</a>
						</div>
						<div class="col-sm-10 col-xs-12">
							<h4 data-sr="enter right over .5s">Power City</h4>
							<p class="mb10" data-sr="enter right over .8s">Chicago is a major player on the global stage. It is the 3rd largest city in the US and ranked  #7 in the world on the 2014 Global Cities Index. </p>
						</div>
					</div>
					<!-- Vibrant Tech Scene -->
					<div class="row">
						<div class="col-sm-2 col-xs-6 hidden-xs" data-sr="enter left over .5s">
							<a href="images/projects/web3.jpg" class="image-zoom-link thumbnail br-50">
								<img class="img-circle img-responsive" src="/assets/images/tech_scene.jpg" alt="Vibrant Tech Scene">
							</a>
						</div>
						<div class="col-sm-10 col-xs-12">
							<h4 data-sr="enter right over .5s">Vibrant Tech Scene</h4>
							<p class="mb10">Chicago is the top U.S. city for growth-stage technology companies. All of the generations of major tech giants have a presence in the city, and the number of jobs at tech companies in Chicago are growing at a rate that puts the city at sixth on this measure among the nation's top 20 tech markets. </p>
						</div>
					</div>
					<!-- Clear City Vision -->
					<div class="row">
						<div class="col-sm-2 col-xs-6 hidden-xs" data-sr="enter left over .5s">
							<a href="images/projects/web3.jpg" class="image-zoom-link thumbnail br-50">
								<img class="img-circle img-responsive" src="/assets/images/CityPlan.jpg" alt="Clear City Vision">
							</a>
						</div>
						<div class="col-sm-10 col-xs-12">
							<h4 data-sr="enter right over .5s">Clear City Vision</h4>
							<p class="mb10">The Chicago Technology Plan consists of 28 initiatives within five broad strategies that together will enable the city to realize its vision of becoming the city where technology fuels opportunity, inclusion, engagement, and innovation.</p>
						</div>
					</div>
					<!-- Strong Black Nucleus -->
					<div class="row">
						<div class="col-sm-2 col-xs-6 hidden-xs" data-sr="enter left over .5s">
							<a href="images/projects/web3.jpg" class="image-zoom-link thumbnail br-50">
								<img class="img-circle img-responsive" src="/assets/images/sbn.jpg" alt="Strong Black Nucleus">
							</a>
						</div>
						<div class="col-sm-10 col-xs-12">
							<h4 data-sr="enter right over .5s">Strong Black Nucleus</h4>
							<p class="mb10">Third largest urban Black population in the United States, a history of black influence, and current direct connections to some of the most powerful black people on the planet from President Obama to Oprah and countless other power brokers.</p>
						</div>
					</div>
					<!-- Innovative Ecosystem Development Framework -->
					<div class="row">
						<div class="col-sm-2 col-xs-6 hidden-xs" data-sr="enter left over .5s">
							<a href="images/projects/web3.jpg" class="image-zoom-link thumbnail br-50">
								<img class="img-circle img-responsive" src="/assets/images/InnovativeEcosystem.jpg" alt="Innovative Ecosystem">
							</a>
						</div>
						<div class="col-sm-10 col-xs-12">
							<h4 data-sr="enter right over .5s">Innovative Ecosystem Development Framework</h4>
							<p class="mb10">Oddly enough, there currently is no ‘Global Black Tech Mecca’ so we are creating the very first one in Chicago. We are collaborating with key community partners to; define the holistic black tech ecosystem for our city in detail, develop a measurement system, and take a technology first approach to enable ecosystem growth.</p>
						</div>
					</div>
				</div>
			</section>
			<!-- End Why Chicago -->

			<!-- End CTA -->
			<div class="cta2 arrow-up">
				<div class="container text-center">
					<p>At Black Tech Mecca we are guided by three simple, yet transformative principles: unity, understanding and agreement. These are the principles that will play a key role in bringing to life what some have referred to as “impossible.”</p>
				</div>
			</div><!-- /cta -->
			<!-- End CTA -->