            <!-- Start Slider Revolution -->
            <div class="rev_slider_wrapper">
                <div class="rev_slider" data-version="5.0" id="slider1">
                    <ul>

                        <!-- Slide 1 -->
                        <li data-delay="9000" 
                        data-description="Black Tech Mecca Intro" 
                        data-easein="default"
                        data-easeout="default" 
                        data-masterspeed="default" 
                        data-param1="test" 
                        data-rotate="0" 
                        data-slotamount="default" 
                        data-title="BTM Intro"
                        data-thumb="/assets/images/slides/slide-3.jpg"
                        data-transition="slideremoveup">

                            <!-- MAIN IMAGE -->
                            <img alt=""
                            data-bgfit="cover"
                            data-bgposition="center center"
                            data-bgrepeat="no-repeat"
                            data-no-retina=""
                            height="800"
                            src="/assets/images/slides/slide-3.jpg"
                            style="background-color:#000;"
                            width="1732">

                            <div class="tp-caption color-main fa fa-adn"
                            data-x="center"
                            data-y="105"
                            data-speed="600"
                            data-start="1200"
                            data-end="9400"
                            data-endspeed="600"
                            data-transform_idle="o:1;"
                            data-transform_in="y:10px;opacity:0;s:700;e:Power3.easeOut;"
                            data-transform_out="y:10px;opacity:0;s:500;e:Power2.easeInOut;"
                            style="font-family:'FontAwesome';font-size:71px;">
                            </div>

                            <div class="tp-caption"
                            data-x="center"
                            data-y="196"
                            data-speed="600"
                            data-start="1200"
                            data-end="9400"
                            data-endspeed="600"
                            data-transform_idle="o:1;"
                            data-transform_in="y:50px;opacity:0;s:700;e:Power3.easeOut;"
                            data-transform_out="y:50px;opacity:0;s:500;e:Power2.easeInOut;"
                            style="padding: 0px 3px; font-size: 46px; visibility: visible; border-bottom:2px solid rgba(255, 255, 255, 0.24); color:#fff; font-family: 'Raleway' sans-serif;">
                            Welcome to <span class="heavy">BlackTechMecca</span>.
                            </div>
                            
                            <div class="tp-caption"
                            data-x="center"
                            data-y="295"
                            data-speed="600"
                            data-start="1200"
                            data-end="9400"
                            data-endspeed="600"
                            data-transform_idle="o:1;"
                            data-transform_in="y:150px;opacity:0;s:700;e:Power3.easeOut;"
                            data-transform_out="y:150px;opacity:0;s:500;e:Power2.easeInOut;"
                            style="padding: 0px 3px; font-size: 24px; visibility: visible; color:#e0e0e0; font-family: 'Open Sans' sans-serif; text-align:center;">
                            <p>Reimagining how members of the black tech ecosystem engage with each other to achieve success</p>
                            </div>

                        </li>
                        
                        <!-- Slide 2 -->
                        <li data-delay="10000"
                        data-description="Some Description"
                        data-easein="default"
                        data-easeout="default"
                        data-masterspeed="default"
                        data-param1="test"
                        data-rotate="0"
                        data-slotamount="default"
                        data-thumb="/assets/images/slides/slide-4.jpg"
                        data-title="Features"
                        data-transition="slideremoveleft">

                            <!-- MAIN IMAGE -->
                            <img alt="" 
                            data-bgfit="cover"
                            data-bgposition="center center" 
                            data-bgrepeat="no-repeat"
                            data-no-retina="" 
                            height="800" 
                            src="/assets/images/slides/slide-4.jpg" 
                            style="background-color:#000;"
                            width="1732">

                            <div class="tp-caption" 
                            data-x="320"
                            data-y="105"
                            data-speed="600"
                            data-start="1200"
                            data-end="9400"
                            data-endspeed="600"
                            data-transform_idle="o:1;"
                            data-transform_in="y:10px;opacity:0;s:700;e:Power3.easeOut;"
                            data-transform_out="y:10px;opacity:0;s:500;e:Power2.easeInOut;"
                            style="color:#fff;font-size:35px;font-family:'Raleway' sans-serif;font-weight:200;border:2px solid #fff;padding:0 17px;">
                            A variety of features, for <strong>various</strong> needs.
                            </div>

                            <div class="tp-caption background-mainsub" 
                            data-x="320"
                            data-y="195"
                            data-speed="600"
                            data-start="1200"
                            data-end="9400"
                            data-endspeed="600"
                            data-transform_idle="o:1;"
                            data-transform_in="x:100px;opacity:0;s:1200;e:Power3.easeOut;"
                            data-transform_out="y:100px;opacity:0;s:500;e:Power2.easeInOut;"
                            style="color:#fff;font-size:27px;font-family:'FontAwesome' sans-serif;line-height:50px;text-align:center;padding-left:12px;padding-right:12px;border-radius:50%">
                            
                                <span class="fa fa-check"></span>

                            </div>

                            <div class="tp-caption" 
                            data-x="390"
                            data-y="200"
                            data-speed="600"
                            data-start="1200"
                            data-end="9400"
                            data-endspeed="600"
                            data-transform_idle="o:1;"
                            data-transform_in="x:130px;opacity:0;s:1200;e:Power3.easeOut;"
                            data-transform_out="y:130px;opacity:0;s:500;e:Power2.easeInOut;"
                            style="color:#fff;font-size:24px;font-family:'Open Sans' sans-serif;font-weight:300;">
                            Fully responsive, on <strong>all</strong> devices.
                            </div>

                            <div class="tp-caption background-mainsub" 
                            data-x="320"
                            data-y="260"
                            data-speed="600"
                            data-start="1200"
                            data-end="9400"
                            data-endspeed="600"
                            data-transform_idle="o:1;"
                            data-transform_in="x:160px;opacity:0;s:1200;e:Power3.easeOut;"
                            data-transform_out="y:160px;opacity:0;s:500;e:Power2.easeInOut;"
                            style="color:#fff;font-size:27px;font-family:'FontAwesome' sans-serif;line-height:50px;text-align:center;padding-left:12px;padding-right:12px;border-radius:50%">
                            
                                <span class="fa fa-check"></span>

                            </div>

                            <div class="tp-caption" 
                            data-x="390"
                            data-y="265"
                            data-speed="600"
                            data-start="1200"
                            data-end="9400"
                            data-endspeed="600"
                            data-transform_idle="o:1;"
                            data-transform_in="x:190px;opacity:0;s:1200;e:Power3.easeOut;"
                            data-transform_out="y:190px;opacity:0;s:500;e:Power2.easeInOut;"
                            style="color:#fff;font-size:24px;font-family:'Open Sans' sans-serif;font-weight:300;">
                            A variety of pages for a multi purpose website.
                            </div>

                            <div class="tp-caption background-mainsub" 
                            data-x="320"
                            data-y="324"
                            data-speed="600"
                            data-start="1200"
                            data-end="9400"
                            data-endspeed="600"
                            data-transform_idle="o:1;"
                            data-transform_in="x:220px;opacity:0;s:1200;e:Power3.easeOut;"
                            data-transform_out="y:220px;opacity:0;s:500;e:Power2.easeInOut;"
                            style="color:#fff;font-size:27px;font-family:'FontAwesome' sans-serif;line-height:50px;text-align:center;padding-left:12px;padding-right:12px;border-radius:50%">
                            
                                <span class="fa fa-check"></span>

                            </div>

                            <div class="tp-caption" 
                            data-x="390"
                            data-y="329"
                            data-speed="600"
                            data-start="1200"
                            data-end="9400"
                            data-endspeed="600"
                            data-transform_idle="o:1;"
                            data-transform_in="x:260px;opacity:0;s:1200;e:Power3.easeOut;"
                            data-transform_out="y:260px;opacity:0;s:500;e:Power2.easeInOut;"
                            style="color:#fff;font-size:24px;font-family:'Open Sans' sans-serif;font-weight:300;">
                            Easy to use and customize. + labeled clean code
                            </div>

                            <div class="tp-caption" 
                            data-x="325"
                            data-y="395"
                            data-speed="600"
                            data-start="1200"
                            data-end="9400"
                            data-endspeed="600"
                            data-transform_idle="o:1;"
                            data-transform_in="y:70px;opacity:0;s:1000;e:Power3.easeOut;"
                            data-transform_out="y:70px;opacity:0;s:500;e:Power2.easeInOut;"
                            style="color:#fff;font-size:17px;font-family:'Open Sans' sans-serif;font-weight:300;">
                            <strong>+ and much more</strong>
                            </div>

                        </li>

                        <!-- Slide 3 -->
                        <li data-delay="11000" 
                        data-description="Black Tech Mecca Video" 
                        data-transition="zoomin"
                        data-easein="default"
                        data-easeout="default"
                        data-masterspeed="default" 
                        data-param1="test" 
                        data-rotate="0"
                        data-thumb="revolution/assets/images/office_cover.jpg"
                        data-slotamount="default" 
                        data-title="Flexibility">

                            <div class="rs-background-video-layer" 
                            data-forcerewind="on" 
                            data-volume="mute" 
                            data-forcerewind="on" 
                            data-volume="mute" 
                            data-videowidth="100%" 
                            data-videoheight="100%" 
                            data-videomp4="/assets/videos/btm_video1.mp4" 
                            data-videopreload="preload" 
                            data-videoloop="loopandnoslidestop" 
                            data-forceCover="1" 
                            data-aspectratio="16:9" 
                            data-autoplay="true" 
                            data-autoplayonlyfirsttime="false" 
                            data-nextslideatend="true" 
                            ></div>

                            <div class="tp-caption NotGeneric-Title tp-resizeme rs-parallaxlevel-0" 
                            data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                            data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
                            data-fontsize="['70','70','70','45']"
                            data-lineheight="['70','70','70','50']"
                            data-whitespace="nowrap"
                            data-transform_idle="o:1;"
                            data-transform_in="z:0;rX:0;rY:0;rZ:5deg;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Back.easeOut;" 
                            data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                            data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                            data-start="1000"  
                            style="z-index: 6; white-space: nowrap;">BTM Weekly Connect
                            </div>

                            <div class="tp-caption NotGeneric-SubTitle tp-resizeme rs-parallaxlevel-0" 
                            data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                            data-y="['middle','middle','middle','middle']" data-voffset="['52','52','52','51']" 
                            data-transform_idle="o:1;"
                            data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                            data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                            data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
                            data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                            data-start="1500" 
                            style="z-index: 7; white-space: nowrap;">Get your weekly dose of Black Tech news and stay up to date with our weekly newsletter.
                            </div>

                            <div class="tp-caption NotGeneric-Icon tp-resizeme rs-parallaxlevel-0" 
                            data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                            data-y="['middle','middle','middle','middle']" data-voffset="['-68','-68','-68','-68']" 
                            data-transform_idle="o:1;"
                            data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power4.easeInOut;" 
                            data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                            data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
                            data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                            data-start="2000" 
                            style="z-index: 8;font-size:50px;line-height:52px; white-space: nowrap;"><i class="fa fa-gears"></i> 
                            </div>

                        </li>
                    </ul>
                </div>
            </div><!-- /rev slider -->
            <!-- End Slider Revolution -->

            <!-- Begin arrow up -->
            <div class="cta2 arrow-up">
                <div class="container text-center">
                    <h2>What is Black Tech Mecca?</h2>
                    <p>An initiative birthed from the perplexing question of how the city of Chicago could become a beacon in the black, tech, and global communities. We will accomplish this through our mission to connect the black tech community, direct ecosystem growth, and transform Chicago.</p>
                </div>
            </div>

            <!-- Begin Partners -->
            <section class="mt40 mb40">
                <div class="container">     

                    <div class="heading mb30 text-center"><h4><span class="ion-android-social-user mr15"></span>The Partners</h4></div>

                    <div class="row">
                        <!-- Client 1 -->
                        <div class="col-sm-2 col-xs-4 mb30-xs" style="visibility: visible; ">
                            <a href="#"><img alt="Client 1" class="img-responsive" src="/assets/images/logos/google.png"></a>
                        </div>

                        <!-- Client 2 -->
                        <div class="col-sm-2 col-xs-4 mb30-xs" style="visibility: visible; ">
                            <a href="#"><img alt="Client 2" class="img-responsive" src="/assets/images/logos/Blue1647.png"></a>
                        </div>

                        <!-- Client 3 -->
                        <div class="col-sm-2 col-xs-4 mb30-xs" style="visibility: visible; ">
                            <a href="#"><img alt="Client 3" class="img-responsive" src="/assets/images/logos/ampion_logo.png"></a>
                        </div>

                        <!-- Client 4 -->
                        <div class="col-sm-2 col-xs-4" style="visibility: visible; ">
                            <a href="#"><img alt="Client 4" class="img-responsive" src="/assets/images/logos/IBM_logo.png"></a>
                        </div>

                        <!-- Client 5 -->
                        <div class="col-sm-2 col-xs-4" style="visibility: visible; ">
                            <a href="#"><img alt="Client 5" class="img-responsive" src="/assets/images/logos/partner6.png"></a>
                        </div>

                        <!-- Client 6 -->
                        <div class="col-sm-2 col-xs-4" style="visibility: visible; ">
                            <a href="#"><img alt="Client 6" class="img-responsive" src="/assets/images/logos/partner3.png"></a>
                        </div>
                    </div><!-- /row -->

                </div><!-- /container -->
            </section>

            <!-- Begin test vision -->
            <section class="content-40mg">
                <div class="container">

                    <div class="row">
                        <div class="col-sm-3 text-center">
                            <div class="content-box-profile content-box-bordered no-margin">
                                 <!-- Image -->
                                <img alt="Team Member 1" class="img-responsive br-2 team-member-profile" src="/assets/images/team/fabian.jpg">
                                <!-- Name -->
                                <h4 class="team-member-name-imgtop">Fabian Elliott <br><small class="text-muted no-padding">Founder</small></h4>
                                <!-- About -->
                                <div class="team-description">
                                    <!-- Social -->
                                    <a href="#"><span class="ion-social-twitter team-ico mr15"></span></a>
                                    <a href="#"><span class="ion-social-facebook team-ico mr15"></span></a>
                                    <a href="#"><span class="ion-social-linkedin team-ico"></span></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-9">
                            <div class="heading mb20"><h4>Welcome</h4></div>
                            <p>At Black Tech Mecca, we believe that the development of a thriving black tech ecosystem will empower the black community,  propel the tech community, and introduce a new competitive advantage for the city.</p>
                            <p>However, nothing great ever happens by accident. A thriving black tech ecosystem will not just appear out of thin air. It must be deliberately and meticulously constructed. Our specific focus  is to strengthen connections within the community, quantify collective impact, drive growth and tell the world about it. Join the fun. Join the movement. Come build with us!</p>
                        </div>
                    </div>

                    <!-- Cta -->
                    <div class="cta mt40">
                        <div class="row">
                            <div class="col-lg-10 col-md-9"><!-- //adjust if needed -->
                                <span class="fa fa-spinner bordered-icon-lg fa-spin pull-left mr15"></span>
                                <h4 class="text-uppercase"><span class="heavy">The Vision</span></h4>
                                <p>To establish Chicago as the vanguard for collaboration and innovation for the black community.</p>
                            </div>
                            <div class="col-lg-2 col-md-3 mt15-md">
                                <a class="btn btn-rw btn-primary btn-lg" href="#">Donate!</a>
                            </div>
                        </div><!-- /row -->
                    </div><!-- /cta -->

                </div>
            </section>

            <!-- Begin Accordion + IMG  -->
            <div class="mt40 mb40">
                <div class="container">

                    <!-- Begin Title -->
                    <div class="row">
                        <div class="col-sm-12 mb20">
                            <div class="heading"><h4>Feature Event</h4></div>
                        </div>
                    </div>

                    <!-- Begin Accordion Row -->
                    <div class="row">
                        <div class="col-sm-6" data-sr="enter left">
                            <div class="col-sm-12">  
                                <p>Have you ever wondered how Chicago's black tech ecosystem was fairing?<br/>
                                Have you ever wondered what exactly a tech ecosystem even was? Be honest...</p>
                                <p>If so, then you are not alone and those are probably not the only questions you have. Our vision for the State of the Black Tech Ecosystem is to conduct a pulse check on the black tech community, and to provide a platform for members to inform us about the opportunities their organizations are creating, so that we can maximize synergies for our initiatives in 2016. We are bringing all of the city's key players and stakeholders to the table to once and for all "demystify" the state of the black tech ecosystem, and to project a clear vision for collaborative action. Mark your calendars now, this is an event you don't want to miss!</p>
                            </div>
                        </div>
                        <div class="col-sm-6" data-sr="enter bottom" >
                            <img src="/assets/images/sbtme.jpg" class="img-responsive showcase-image" alt="Responsive Showcase 2">
                        </div>
                    </div>
                    <!-- End Accordion Row -->
                    
                </div><!-- /container -->
            </div><!-- /content -->
            <!-- End Accordion + IMG -->