<style>
.grey-pattern{
	 background: url("/assets/images/backgrounds/bg-pattern-2.jpg") no-repeat scroll center top / cover rgba(0, 0, 0, 0);
}
.press-row{
	margin-top: 1px;
	width: 100% !important;
	background: none repeat scroll 0 0 #fff;
	float: left;
}
.press-img{
	width: 30% !important;
	float: left;
}
.press-info{
	width: 70% !important;
	float: left;
}
.press-row .press-info{
	background-size: 40% auto !important;
    min-height: 4.375em;
    padding: 2.5em 1.25em 1.875em 0;
    position: relative;
}
.press-row img{
	margin: 10px auto;
}
.image-bg-fluid-height {
    background: url("/assets/images/backgrounds/press_slide.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    padding: 100px 0;
}
</style>
<div class="header">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-xs-12">
				<h1>Press</h1>
			</div>
			<div class="col-sm-6">
				<ol class="breadcrumb">
					<li><span class="ion-home breadcrumb-home"></span><%= link_to 'Home', root_path %></li>
					<li>Resources</li>
					<li>Press</li>
				</ol>
			</div>
		</div>
	</div>
</div>
<section class="image-bg-fluid-height">
	<div class="row mt40 mb30"><h2 class="text-center" style="color: #fff;">In the News</h2></div>
</section>
<section class="press grey-pattern">
	<div class="container news-container">
		<!-- Glappitinova -->
		<div class="row press-row">
			<div class="col-sm-4 press-img">
				<img src="/assets/images/press/nova.png" class="img-responsive">
			</div>
			<div class="col-sm-8 press-info">
				<h4><a href="http://www.glappitnova.com/2015/06/01/transforming-chicago-into-the-global-black-tech-mecca/" target="_blank">Transforming Chicago Into a Global Black Tech Mecca</a></h4>
				<p>June 1st, 2015</p>
			</div>
		</div>
		<!-- Chicago Magazine -->
		<div class="row press-row">
			<div class="col-sm-4 press-img">
				<img src="/assets/images/press/chi_mag.png" class="img-responsive">
			</div>
			<div class="col-sm-8 press-info">
				<h4><a href="http://www.chicagomag.com/city-life/June-2015/Here-Are-This-Weeks-10-Must-Read-Stories/" target="_blank">10 Must Read Stories for This Week in Chicago</a></h4>
				<p>June 23rd, 2015</p>
			</div>
		</div>
		<!-- DNA Info -->
		<div class="row press-row">
			<div class="col-sm-4 press-img">
				<img src="/assets/images/press/dna-info.jpg" class="img-responsive">
			</div>
			<div class="col-sm-8 press-info">
				<h4><a href="http://www.dnainfo.com/chicago/20150623/loop/can-chicago-become-black-tech-global-hq-thats-black-tech-meccas-goal" target="_blank">Can Chicago Become a Global Black Tech Mecca?</a></h4>
				<p>June 23rd, 2015</p>
			</div>
		</div>
		<!-- Atlanta Black Star -->
		<div class="row press-row">
			<div class="col-xs-12 col-lg-4 press-img">
				<img class="img-responsive" src="/assets/images/press/atlanta_blackstar.jpg">
			</div>
			<div class="col-xs-12 col-lg-8 press-info">
				<h4><a href="http://blerds.atlantablackstar.com/2015/07/08/chicago-become-black-tech-global-head-quarters/" target="_blank">Chicago Could Become a Black Tech Global Headquarters</a></h4>
				<p>July 8th, 1015</p>
			</div>
		</div>
		<!-- Ebony -->
		<div class="row press-row">
			<div class="col-lg-4 col-sm-12 press-img">
				<img src="/assets/images/press/ebony.png" class="img-responsive">
			</div>
			<div class="col-lg-8 col-12 press-info">
				<h4><a href="http://www.ebony.com/life/the-upload-transforming-chicago-into-the-black-tech-mecca-111#axzz3tB6wNkiO" target="_blank">Transforming Chicago Into the Global Black Tech Mecca</a></h4>
				<p>August 11th, 2015</p>
			</div>
		</div>
		<!-- Black Enterprise -->
		<div class="row press-row">
			<div class="col-sm-4 press-img">
				<img src="/assets/images/press/enterprise.png" class="img-responsive">
			</div>
			<div class="col-sm-8 press-info">
				<h4><a href="http://www.blackenterprise.com/technology/founder-of-black-tech-mecca-talks-transforming-chicago-technology-scene/" target="_blank">Founder of Black Tech Mecca Talks Transforming Chicago's Technology Scene</a></h4>
				<p>October 5th, 2015</p>
			</div>
		</div>
		<!-- Crains -->
		<div class="row press-row">
			<div class="col-sm-4 press-img">
				<img src="/assets/images/press/crains.png" class="img-responsive">
			</div>
			<div class="col-sm-8 press-info">
				<h4><a href="http://www.chicagobusiness.com/article/20151027/BLOGS11/151029855/boosting-the-ranks-of-blacks-in-tech" target="_blank">Boosting the Ranks of Blacks In Tech</a></h4>
				<p>October 27th, 2015</p>
			</div>
		</div>
		<!-- Vocalo -->
		<div class="row press-row">
			<div class="col-sm-4 press-img">
				<img src="/assets/images/press/vocalo.png" class="img-responsive">
			</div>
			<div class="col-sm-8 press-info">
				<h4><a href="https://soundcloud.com/vocalo/fabian-elliott-dreams-of-transforming-chicago-into-a-global-black-technology-mecca" target="_blank">Fabian Elliott Dreams of Transforming Chicago into a Global Black Tech Mecca</a></h4>
				<p>Novemeber 2015</p>
			</div>
		</div>
		<!-- Chicago Inno -->
		<div class="row press-row">
			<div class="col-sm-4 press-img">
				<img src="/assets/images/press/inno.png" class="img-responsive">
			</div>
			<div class="col-sm-8 press-info">
				<h4><a href="http://chicagoinno.streetwise.co/2015/11/27/diversity-in-tech-googles-fabian-elliott-wants-chicago-to-be-the-black-tech-mecca/" target="_blank">Fabian Elliott on Why Chicago Should Be the Black Tech Mecca [Audio]</a></h4>
				<p>November 27th, 2015</p>
			</div>
		</div>
		<!-- Chicago Reader -->
		<div class="row press-row">
			<div class="col-sm-4 press-img">
				<img src="/assets/images/press/reader.png" class="img-responsive">
			</div>
			<div class="col-sm-8 press-info">
				<br/><br/>
				<h4><a href="http://people2015.chicagoreader.com/who/fabian-elliott/profile/" target="_blank">The People Issue: 21 Chicagoans In Their Own Words</a></h4>
				<p>December 10th, 2015</p>
			</div>
		</div>
		<!-- Rolling Out -->
		<div class="row press-row">
			<div class="col-sm-4 press-img">
				<img src="/assets/images/press/out.png" class="img-responsive">
			</div>
			<div class="col-sm-8 press-info">
				<h4><a href="http://rollingout.com/2015/12/16/5-reasons-chicago-next-black-tech-mecca/" target="_blank">5 Reasons Chicago Is the Next Black Tech Mecca</a></h4>
				<p>December 16th, 2015</p>
			</div>
		</div>
	</div>
</section>