<div class="cta2 arrow-up">
	<div class="container text-center">
		<p>At Black Tech Mecca we are guided by three simple, yet transformative principles: unity, understanding and agreement. These are the principles that will play a key role in bringing to life what some have referred to as “impossible.”</p>
	</div>
</div>