<!-- Start Slider Revolution -->
            <div class="rev_slider_wrapper">
                <div class="rev_slider" data-version="5.0" id="slider1">
                    <ul>

                        <!-- Slide 1 -->
                        <li data-delay="9000" 
                        data-description="Black Tech Mecca Intro" 
                        data-easein="default"
                        data-easeout="default" 
                        data-masterspeed="default" 
                        data-param1="test" 
                        data-rotate="0" 
                        data-slotamount="default" 
                        data-title="Welcome"
                        data-thumb="/assets/images/backgrounds/welcome_image.jpg/"
                        data-transition="slideremoveup">

                            <!-- MAIN IMAGE -->
                            <img alt=""
                            data-bgfit="cover"
                            data-bgposition="center center"
                            data-bgrepeat="no-repeat"
                            data-no-retina=""
                            height="800"
                            src="/assets/images/backgrounds/welcome_image.jpg/"
                            style="background-color:#000;"
                            width="1732">

                            <div class="tp-caption"
                            data-x="center"
                            data-y="196"
                            data-speed="600"
                            data-start="1200"
                            data-end="9400"
                            data-endspeed="600"
                            data-transform_idle="o:1;"
                            data-transform_in="y:50px;opacity:0;s:700;e:Power3.easeOut;"
                            data-transform_out="y:50px;opacity:0;s:500;e:Power2.easeInOut;"
                            style="padding: 0px 3px; font-size: 46px; visibility: visible; border-bottom:2px solid rgba(255, 255, 255, 0.24); color:#fff; font-family: 'Raleway' sans-serif;">
                            Welcome to <span class="heavy">Black Tech Mecca</span>
                            </div>
                            
                            <div class="tp-caption"
                            data-x="center"
                            data-y="295"
                            data-speed="600"
                            data-start="1200"
                            data-end="9400"
                            data-endspeed="600"
                            data-transform_idle="o:1;"
                            data-transform_in="y:150px;opacity:0;s:700;e:Power3.easeOut;"
                            data-transform_out="y:150px;opacity:0;s:500;e:Power2.easeInOut;"
                            style="padding: 0px 3px; font-size: 24px; visibility: visible; color:#e0e0e0; font-family: 'Open Sans' sans-serif; text-align:center;">
                            <p>Connect | Direct | Measure </p>
                            </div>

                        </li>
                        
                        <!-- Slide 2 -->
                        <li data-delay="10000"
                        data-description="Some Description"
                        data-easein="default"
                        data-easeout="default"
                        data-masterspeed="default"
                        data-param1="test"
                        data-rotate="0"
                        data-slotamount="default"
                        data-thumb="/assets/images/backgrounds/slide_2.jpg"
                        data-title="Weekly Connect"
                        data-transition="slideremoveleft">

                            <!-- MAIN IMAGE -->
                            <img alt="" 
                            data-bgfit="cover"
                            data-bgposition="center center" 
                            data-bgrepeat="no-repeat"
                            data-no-retina="" 
                            height="800" 
                            src="/assets/images/backgrounds/slide_2.jpg" 
                            style="background-color:#000;"
                            width="1732">

                            <div class="tp-caption"
                            data-x="center"
                            data-y="196"
                            data-speed="600"
                            data-start="1200"
                            data-end="9400"
                            data-endspeed="600"
                            data-transform_idle="o:1;"
                            data-transform_in="y:50px;opacity:0;s:700;e:Power3.easeOut;"
                            data-transform_out="y:50px;opacity:0;s:500;e:Power2.easeInOut;"
                            style="padding: 0px 3px; font-size: 30px; visibility: visible; border-bottom:2px solid rgba(255, 255, 255, 0.24); color:#fff; font-family: 'Raleway' sans-serif;">
                            Get your weekly dose of Black Tech news and stay up to date with BTM activities
                            </div>
                            
                            <div class="tp-caption"
                            data-x="center"
                            data-y="295"
                            data-speed="600"
                            data-start="1200"
                            data-end="9400"
                            data-endspeed="600"
                            data-transform_idle="o:1;"
                            data-transform_in="y:150px;opacity:0;s:700;e:Power3.easeOut;"
                            data-transform_out="y:150px;opacity:0;s:500;e:Power2.easeInOut;"
                            style="padding: 0px 3px; font-size: 24px; visibility: visible; color:#e0e0e0; font-family: 'Open Sans' sans-serif; text-align:center;">
                            <p><a class="btn btn-primary" href="#newsletter" role="button" >Sign up now</a></p>
                            </div>

                        <!-- Slide 3 -->
                         <li data-delay="10000"
                        data-description="Some Description"
                        data-easein="default"
                        data-easeout="default"
                        data-masterspeed="default"
                        data-param1="test"
                        data-rotate="0"
                        data-slotamount="default"
                        data-thumb="/assets/images/backgrounds/press_slide.png"
                        data-title="See more press"
                        data-transition="slideremoveleft">

                            <!-- MAIN IMAGE -->
                            <img alt="" 
                            data-bgfit="cover"
                            data-bgposition="center center" 
                            data-bgrepeat="no-repeat"
                            data-no-retina="" 
                            height="800" 
                            src="/assets/images/backgrounds/press_slide.png" 
                            style="background-color:#000;"
                            width="1732">

                            <div class="tp-caption"
                            data-x="center"
                            data-y="196"
                            data-speed="600"
                            data-start="1200"
                            data-end="9400"
                            data-endspeed="600"
                            data-transform_idle="o:1;"
                            data-transform_in="y:50px;opacity:0;s:700;e:Power3.easeOut;"
                            data-transform_out="y:50px;opacity:0;s:500;e:Power2.easeInOut;"
                            style="padding: 0px 3px; font-size: 46px; visibility: visible; border-bottom:2px solid rgba(255, 255, 255, 0.24); color:#fff; font-family: 'Raleway' sans-serif;">
                            Why Chicago is the next <span class="heavy">Black Tech Mecca</span>
                            </div>
                            
                            <div class="tp-caption"
                            data-x="center"
                            data-y="295"
                            data-speed="600"
                            data-start="1200"
                            data-end="9400"
                            data-endspeed="600"
                            data-transform_idle="o:1;"
                            data-transform_in="y:150px;opacity:0;s:700;e:Power3.easeOut;"
                            data-transform_out="y:150px;opacity:0;s:500;e:Power2.easeInOut;"
                            style="padding: 0px 3px; font-size: 24px; visibility: visible; color:#e0e0e0; font-family: 'Open Sans' sans-serif; text-align:center;">
                            <p><a class="btn btn-primary" href="/press" role="button">See more press</a></p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div><!-- /rev slider -->
            <!-- End Slider Revolution -->