<!-- Start Slider Revolution -->
            <div class="rev_slider_wrapper">
                <div class="rev_slider" data-version="5.0" id="slider1">
                    <ul>

                        <!-- Slide 1 -->
                        <li data-delay="9000" 
                        data-description="Black Tech Mecca Intro" 
                        data-easein="default"
                        data-easeout="default" 
                        data-masterspeed="default" 
                        data-param1="test" 
                        data-rotate="0" 
                        data-slotamount="default" 
                        data-title="BTM Intro"
                        data-thumb="/assets/images/slides/slide-3.jpg"
                        data-transition="slideremoveup">

                            <!-- MAIN IMAGE -->
                            <img alt=""
                            data-bgfit="cover"
                            data-bgposition="center center"
                            data-bgrepeat="no-repeat"
                            data-no-retina=""
                            height="800"
                            src="/assets/images/slides/slide-3.jpg"
                            style="background-color:#000;"
                            width="1732">

                            <div class="tp-caption color-main fa fa-adn"
                            data-x="center"
                            data-y="105"
                            data-speed="600"
                            data-start="1200"
                            data-end="9400"
                            data-endspeed="600"
                            data-transform_idle="o:1;"
                            data-transform_in="y:10px;opacity:0;s:700;e:Power3.easeOut;"
                            data-transform_out="y:10px;opacity:0;s:500;e:Power2.easeInOut;"
                            style="font-family:'FontAwesome';font-size:71px;">
                            </div>

                            <div class="tp-caption"
                            data-x="center"
                            data-y="196"
                            data-speed="600"
                            data-start="1200"
                            data-end="9400"
                            data-endspeed="600"
                            data-transform_idle="o:1;"
                            data-transform_in="y:50px;opacity:0;s:700;e:Power3.easeOut;"
                            data-transform_out="y:50px;opacity:0;s:500;e:Power2.easeInOut;"
                            style="padding: 0px 3px; font-size: 46px; visibility: visible; border-bottom:2px solid rgba(255, 255, 255, 0.24); color:#fff; font-family: 'Raleway' sans-serif;">
                            Welcome to <span class="heavy">Black Tech Mecca</span>.
                            </div>
                            
                            <div class="tp-caption"
                            data-x="center"
                            data-y="295"
                            data-speed="600"
                            data-start="1200"
                            data-end="9400"
                            data-endspeed="600"
                            data-transform_idle="o:1;"
                            data-transform_in="y:150px;opacity:0;s:700;e:Power3.easeOut;"
                            data-transform_out="y:150px;opacity:0;s:500;e:Power2.easeInOut;"
                            style="padding: 0px 3px; font-size: 24px; visibility: visible; color:#e0e0e0; font-family: 'Open Sans' sans-serif; text-align:center;">
                            <p>Facilitate connections. Build culture. Advance tech.</p>
                            </div>

                        </li>
                        
                        <!-- Slide 2 -->
                        <li data-delay="10000"
                        data-description="Some Description"
                        data-easein="default"
                        data-easeout="default"
                        data-masterspeed="default"
                        data-param1="test"
                        data-rotate="0"
                        data-slotamount="default"
                        data-thumb="/assets/images/slides/slide-4.jpg"
                        data-title="Features"
                        data-transition="slideremoveleft">

                            <!-- MAIN IMAGE -->
                            <img alt="" 
                            data-bgfit="cover"
                            data-bgposition="center center" 
                            data-bgrepeat="no-repeat"
                            data-no-retina="" 
                            height="800" 
                            src="/assets/images/slides/slide-4.jpg" 
                            style="background-color:#000;"
                            width="1732">

                            <div class="tp-caption" 
                            data-x="320"
                            data-y="105"
                            data-speed="600"
                            data-start="1200"
                            data-end="9400"
                            data-endspeed="600"
                            data-transform_idle="o:1;"
                            data-transform_in="y:10px;opacity:0;s:700;e:Power3.easeOut;"
                            data-transform_out="y:10px;opacity:0;s:500;e:Power2.easeInOut;"
                            style="color:#fff;font-size:35px;font-family:'Raleway' sans-serif;font-weight:200;border:2px solid #fff;padding:0 17px;">
                            A variety of features, for <strong>various</strong> needs.
                            </div>

                            <div class="tp-caption background-mainsub" 
                            data-x="320"
                            data-y="195"
                            data-speed="600"
                            data-start="1200"
                            data-end="9400"
                            data-endspeed="600"
                            data-transform_idle="o:1;"
                            data-transform_in="x:100px;opacity:0;s:1200;e:Power3.easeOut;"
                            data-transform_out="y:100px;opacity:0;s:500;e:Power2.easeInOut;"
                            style="color:#fff;font-size:27px;font-family:'FontAwesome' sans-serif;line-height:50px;text-align:center;padding-left:12px;padding-right:12px;border-radius:50%">
                            
                                <span class="fa fa-check"></span>

                            </div>

                            <div class="tp-caption" 
                            data-x="390"
                            data-y="200"
                            data-speed="600"
                            data-start="1200"
                            data-end="9400"
                            data-endspeed="600"
                            data-transform_idle="o:1;"
                            data-transform_in="x:130px;opacity:0;s:1200;e:Power3.easeOut;"
                            data-transform_out="y:130px;opacity:0;s:500;e:Power2.easeInOut;"
                            style="color:#fff;font-size:24px;font-family:'Open Sans' sans-serif;font-weight:300;">
                            Fully responsive, on <strong>all</strong> devices.
                            </div>

                            <div class="tp-caption background-mainsub" 
                            data-x="320"
                            data-y="260"
                            data-speed="600"
                            data-start="1200"
                            data-end="9400"
                            data-endspeed="600"
                            data-transform_idle="o:1;"
                            data-transform_in="x:160px;opacity:0;s:1200;e:Power3.easeOut;"
                            data-transform_out="y:160px;opacity:0;s:500;e:Power2.easeInOut;"
                            style="color:#fff;font-size:27px;font-family:'FontAwesome' sans-serif;line-height:50px;text-align:center;padding-left:12px;padding-right:12px;border-radius:50%">
                            
                                <span class="fa fa-check"></span>

                            </div>

                            <div class="tp-caption" 
                            data-x="390"
                            data-y="265"
                            data-speed="600"
                            data-start="1200"
                            data-end="9400"
                            data-endspeed="600"
                            data-transform_idle="o:1;"
                            data-transform_in="x:190px;opacity:0;s:1200;e:Power3.easeOut;"
                            data-transform_out="y:190px;opacity:0;s:500;e:Power2.easeInOut;"
                            style="color:#fff;font-size:24px;font-family:'Open Sans' sans-serif;font-weight:300;">
                            A variety of pages for a multi purpose website.
                            </div>

                            <div class="tp-caption background-mainsub" 
                            data-x="320"
                            data-y="324"
                            data-speed="600"
                            data-start="1200"
                            data-end="9400"
                            data-endspeed="600"
                            data-transform_idle="o:1;"
                            data-transform_in="x:220px;opacity:0;s:1200;e:Power3.easeOut;"
                            data-transform_out="y:220px;opacity:0;s:500;e:Power2.easeInOut;"
                            style="color:#fff;font-size:27px;font-family:'FontAwesome' sans-serif;line-height:50px;text-align:center;padding-left:12px;padding-right:12px;border-radius:50%">
                            
                                <span class="fa fa-check"></span>

                            </div>

                            <div class="tp-caption" 
                            data-x="390"
                            data-y="329"
                            data-speed="600"
                            data-start="1200"
                            data-end="9400"
                            data-endspeed="600"
                            data-transform_idle="o:1;"
                            data-transform_in="x:260px;opacity:0;s:1200;e:Power3.easeOut;"
                            data-transform_out="y:260px;opacity:0;s:500;e:Power2.easeInOut;"
                            style="color:#fff;font-size:24px;font-family:'Open Sans' sans-serif;font-weight:300;">
                            Easy to use and customize. + labeled clean code
                            </div>

                            <div class="tp-caption" 
                            data-x="325"
                            data-y="395"
                            data-speed="600"
                            data-start="1200"
                            data-end="9400"
                            data-endspeed="600"
                            data-transform_idle="o:1;"
                            data-transform_in="y:70px;opacity:0;s:1000;e:Power3.easeOut;"
                            data-transform_out="y:70px;opacity:0;s:500;e:Power2.easeInOut;"
                            style="color:#fff;font-size:17px;font-family:'Open Sans' sans-serif;font-weight:300;">
                            <strong>+ and much more</strong>
                            </div>

                        </li>

                        <!-- Slide 3 -->
                        <li data-delay="11000" 
                        data-description="Black Tech Mecca Video" 
                        data-transition="zoomin"
                        data-easein="default"
                        data-easeout="default"
                        data-masterspeed="default" 
                        data-param1="test" 
                        data-rotate="0"
                        data-thumb="#"
                        data-slotamount="default" 
                        data-title="Flexibility">

                            <div class="rs-background-video-layer" 
                            data-forcerewind="on" 
                            data-volume="mute" 
                            data-forcerewind="on" 
                            data-volume="mute" 
                            data-videowidth="100%" 
                            data-videoheight="100%" 
                            data-videomp4="/assets/videos/btm_video1.mp4" 
                            data-videopreload="preload" 
                            data-videoloop="loopandnoslidestop" 
                            data-forceCover="1" 
                            data-aspectratio="16:9" 
                            data-autoplay="true" 
                            data-autoplayonlyfirsttime="false" 
                            data-nextslideatend="true" 
                            ></div>

                            <div class="tp-caption NotGeneric-Title tp-resizeme rs-parallaxlevel-0" 
                            data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                            data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
                            data-fontsize="['70','70','70','45']"
                            data-lineheight="['70','70','70','50']"
                            data-whitespace="nowrap"
                            data-transform_idle="o:1;"
                            data-transform_in="z:0;rX:0;rY:0;rZ:5deg;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Back.easeOut;" 
                            data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                            data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                            data-start="1000"  
                            style="z-index: 6; white-space: nowrap;">BTM Weekly Connect
                            </div>

                            <div class="tp-caption NotGeneric-SubTitle tp-resizeme rs-parallaxlevel-0" 
                            data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                            data-y="['middle','middle','middle','middle']" data-voffset="['52','52','52','51']" 
                            data-transform_idle="o:1;"
                            data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                            data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                            data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
                            data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                            data-start="1500" 
                            style="z-index: 7; white-space: nowrap;">Get your weekly dose of Black Tech news and stay up to date with our weekly newsletter.
                            </div>

                            <div class="tp-caption NotGeneric-Icon tp-resizeme rs-parallaxlevel-0" 
                            data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                            data-y="['middle','middle','middle','middle']" data-voffset="['-68','-68','-68','-68']" 
                            data-transform_idle="o:1;"
                            data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power4.easeInOut;" 
                            data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                            data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
                            data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                            data-start="2000" 
                            style="z-index: 8;font-size:50px;line-height:52px; white-space: nowrap;"><i class="fa fa-gears"></i> 
                            </div>

                        </li>
                    </ul>
                </div>
            </div><!-- /rev slider -->
            <!-- End Slider Revolution -->