<style>
.thumbnail h4{
color: #fff !important;
}
.eco {
  background: url('/assets/images/eco.png');
  background-size: contain;
}

.eco p{
  color: #fff !important;
}
@media screen and (min-width: 720px){
  .eco{
      width: 550px;
      height: 453px;
      padding: 50px;
  }
}
</style>
<section id="feature" class="content-40mg">
  <div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="heading">
              <h4>Coming Soon</h4>
            </div>
            <div class="thumbnail eco text-center">
                <h4><strong>BTM Ecosystem Network</strong></h4>
                <p>We are in the process of building a dynamic online community platform that will strengthen connections within the black tech community by re-imagining the way interactions takes place. The first of its kind here in Chicago, the Ecosystem Network will also function as a vital technology tool to help transform Chicago into the “Global Black Tech Mecca.”  Sign up for our newsletter to stay up to date with any new developments, or click below to fill out an interest form to become a beta tester.</p>
                <a href="https://docs.google.com/a/blacktechmecca.org/forms/d/1zVrLRrRTza9x3-dYarOPJkLcSLBjxLneBEmLQtnaWMw/viewform?c=0&w=1" role="button" class="btn btn-primary">Sign Up</a>
            </div>
        </div>
    </div>
  </div>
</section>