<style>
.thumbnail h4{
color: #fff !important;
}
.eco {
  background: url('/assets/images/eco.png');
  background-size: contain;
}

.eco p{
  color: #fff !important;
}
@media screen and (min-width: 720px){
  .eco{
      width: 550px;
      height: 453px;
      padding: 50px;
  }
}
</style>
<section id="feature" class="content-40mg">
  <div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="heading">
              <h4>Next Event</h4>
            </div>
            <div class="thumbnail">
              <div class="caption">
                <h4><strong>State of the Black Tech Ecosystem</strong></h4>
                <p>Our vision for the State of the Black Tech Ecosystem is to conduct a pulse check on the black tech community, and to provide a platform for members to inform us about the opportunities their organizations are creating, so that we can maximize synergies for our initiatives in 2016. We are bringing all of the city's key players and stakeholders to the table to once and for all "demystify" the state of the black tech ecosystem, and to project a clear vision for collaborative action. Mark your calendars now, this is an event you don't want to miss!
                </p>
              </div>
              <img src="/assets/images/Ecosystem_Square.jpg" class="img-responsive" alt="...">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="heading">
              <h4>Coming Soon</h4>
            </div>
            <div class="thumbnail eco text-center">
                <h4><strong>BTM Ecosystem Network</strong></h4>
                <p>We are in the process of building a dynamic online community platform that will strengthen connections within the black tech community by re-imagining the way interactions takes place. The first of its kind here in Chicago, the Ecosystem Network will also function as a vital technology tool to help transform Chicago into the “Global Black Tech Mecca.”  Sign up for our newsletter to stay up to date with any new developments, or click below to fill out an interest form to become a beta tester.</p>
                <a href="https://docs.google.com/a/blacktechmecca.org/forms/d/1zVrLRrRTza9x3-dYarOPJkLcSLBjxLneBEmLQtnaWMw/viewform?c=0&w=1" role="button" class="btn btn-primary">Sign Up</a>
            </div>
        </div>
    </div>
  </div>
</section>