<section id="feature" class="content-40mg">
  <div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="heading">
              <h4>Next Event</h4>
            </div>
            <div class="thumbnail">
              <div class="caption">
                <h4><strong>State of the Black Tech Ecosystem</strong></h4>
                <p>Our vision for the State of the Black Tech Ecosystem is to conduct a pulse check on the black tech community, and to provide a platform for members to inform us about the opportunities their organizations are creating, so that we can maximize synergies for our initiatives in 2016. We are bringing all of the city's key players and stakeholders to the table to once and for all "demystify" the state of the black tech ecosystem, and to project a clear vision for collaborative action. Mark your calendars now, this is an event you don't want to miss! <br/> <br/>
                <a href="#" class="button button-default">Register</a>
                </p>
              </div>
              <img src="/assets/images/sbtme.jpg" class="img-responsive" alt="...">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="heading">
              <h4>Coming Soon</h4>
            </div>
            <img src="/assets/images/eco_network.jpg" class="img-responsive" alt="...">
        </div>
    </div>
  </div>
</section>