<section id="feature" class="content-40mg">
  <div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="row">
                <div class="heading">
                  <h4>Join Our Community</h4>
                </div>
            </div>
            <div class="row">
              <div id="communitySlider" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#communitySlider" data-slide-to="0" class="active"></li>
                    <li data-target="#communitySlider" data-slide-to="1"></li>
                </ol>

                <!-- wrapper for slider -->
                <div class="carousel-inner">
                  <div class="item active">
                    <img class="img-responsive" src="/assets/images/community/community1.jpg" alt="..." />
                  </div>
                  <div class="item">
                    <img class="img-responsive" src="/assets/images/community/community2.jpg" alt="..." />
                  </div>
                </div>

                <!-- controls -->
                <a class="left carousel-control" href="#communitySlider" role="button" data-slide="prev">
                  <span class="ion-ios7-arrow-left carousel-arrow-left" aria-hidden="true"></span>
                </a>
                <a class="right carousel-control" href="#communitySlider" role="button" data-slide="next">
                  <span class="ion-ios7-arrow-right carousel-arrow-right" aria-hidden="true"></span>
                </a>
              </div>
            </div>
            <div class="row">
                <p style="text-align: center; margin-top: 30px;"><a href="#" class="btn btn-primary" role="button">Create A Profile</a></p>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="heading">
              <h4>Next Event</h4>
            </div>
            <div class="thumbnail">
              <div class="caption">
                <h4><strong>State of the Black Tech Ecosystem</strong></h4>
                <p>Our vision for the State of the Black Tech Ecosystem is to conduct a pulse check on the black tech community, and to provide a platform for members to inform us about the opportunities their organizations are creating, so that we can maximize synergies for our initiatives in 2016. We are bringing all of the city's key players and stakeholders to the table to once and for all "demystify" the state of the black tech ecosystem, and to project a clear vision for collaborative action. Mark your calendars now, this is an event you don't want to miss! <br/> <br/>
                <a href="#" class="button button-default">Register</a>
                </p>
              </div>
              <img src="/assets/images/sbtme.jpg" class="img-responsive" alt="...">
            </div>
        </div>
    </div>
  </div>
</section>