<section class="content-50mg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 mb20">
                            <div class="heading"><h4>Latest News</h4></div>
                        </div>
                    </div>
                    <div class="row">
                        <!--=== Custom Content ===-->
                        <div class="row">
                            <!--=== Content 1 ===-->
                            <div class="col-sm-4">
                                <div class="thumbnail custom-content">
                                    <a href="#"><img src="https://wp.streetwise.co/chicagoinno/files/2015/11/EmileCambry.jpg" alt="..."></a>
                                    <div class="caption">
                                        <h4><a href="http://chicagoinno.streetwise.co/2015/11/24/emile-cambry-joins-prince-drake-john-legend-and-more-on-the-ebony-power-100/">Chicago Tech Figure Lands Ebony Power 100</a></h4>
                                        <p>Emile Cambry Joins Prince, Drake, John Legend and More on the EBONY Power 100</p>
                                        <p><a href="http://chicagoinno.streetwise.co/2015/11/24/emile-cambry-joins-prince-drake-john-legend-and-more-on-the-ebony-power-100/" class="btn btn-rw btn-primary" role="button">Read more</a></p>
                                    </div>
                                </div><!-- /thumbnail -->
                            </div><!-- /column -->
                            <!--=== Content 2 ===-->
                            <div class="col-sm-4">
                                <div class="thumbnail custom-content">
                                    <a href="#"><img src="http://thehill.com/sites/default/files/styles/article_full/public/article_images/butterfieldgk_012715gn.jpg?itok=R0uzuSQf" alt="..."></a>
                                    <div class="caption">
                                        <h4><a href="http://thehill.com/policy/technology/261965-black-caucus-pushes-tech-firms-to-diversify-their-lobbying">Black Caucus Pushes Tech Firms to Diversify their Lobbying Offices</a></h4>
                                        <p>The Congressional Black Caucus (CBC) is turning its attention to the lobbying industry as it pushes for more diversity in the tech world.</p>
                                        <p><a href="http://thehill.com/policy/technology/261965-black-caucus-pushes-tech-firms-to-diversify-their-lobbying" class="btn btn-rw btn-primary" role="button">Read more</a></p>
                                    </div>
                                </div><!-- /thumbnail -->
                            </div><!-- /column -->
                            <!--=== Content 3 ===-->        
                            <div class="col-sm-4">
                                <div class="thumbnail custom-content">
                                    <a href="#"><img src="http://www.blackenterprise.com/wp-content/blogs.dir/1/files/2015/11/Sherice-Torres.jpg" alt="..."></a>
                                    <div class="caption">
                                        <h4><a href="http://www.blackenterprise.com/event/crashing-silicon-valley-with-sherice-torres/">Crashing Silicon Valley with Sherice Torres</a></h4>
                                        <p>Silicon Valley is slowly losing its legacy as a ‘land for the boys’ with the help of powerful, innovative, and determined women, such as Sherice Torres;</p>
                                        <p><a href="http://www.blackenterprise.com/event/crashing-silicon-valley-with-sherice-torres/" class="btn btn-rw btn-primary" role="button">Read more</a></p>
                                    </div>
                                </div><!-- /thumbnail -->
                            </div><!-- /column -->
                        </div><!-- /row -->
                        <!--=== End Custom Content ===-->
                    </div>
                </div>
            </section>