<section class="mt40 mb40">
                <div class="container">     

                    <div class="heading mb30 text-center"><h4><span class="ion-android-social-user mr15"></span>The Partners</h4></div>

                    <div class="row">
                        <!-- Client 1 -->
                        <div class="col-sm-2 col-xs-4 mb30-xs" style="visibility: visible; ">
                            <a href="#"><img alt="Client 1" class="img-responsive" src="/assets/images/logos/google.png"></a>
                        </div>

                        <!-- Client 2 -->
                        <div class="col-sm-2 col-xs-4 mb30-xs" style="visibility: visible; ">
                            <a href="#"><img alt="Client 2" class="img-responsive" src="/assets/images/logos/Blue1647.png"></a>
                        </div>

                        <!-- Client 3 -->
                        <div class="col-sm-2 col-xs-4 mb30-xs" style="visibility: visible; ">
                            <a href="#"><img alt="Client 3" class="img-responsive" src="/assets/images/logos/Code2040.PNG"></a>
                        </div>

                        <!-- Client 4 -->
                        <div class="col-sm-2 col-xs-4" style="visibility: visible; ">
                            <a href="#"><img alt="Client 5" class="img-responsive" src="/assets/images/logos/blackintech.png"></a>
                        </div>

                        <!-- Client 5 -->
                        <div class="col-sm-2 col-xs-4" style="visibility: visible; ">
                            <a href="#"><img alt="Client 6" class="img-responsive" src="/assets/images/logos/ctic.png"></a>
                        </div>

                        <!-- Client 6 -->
                        <div class="col-sm-2 col-xs-4" style="visibility: visible; ">
                            <a href="#"><img alt="Client 4" class="img-responsive" src="/assets/images/logos/IBM_logo.png"></a>
                        </div>
                    </div><!-- /row -->
                </div><!-- /container -->
            </section>