<section class="content-40mg">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="heading"><h4>Who is Black Tech Mecca?</h4></div>
			</div>
		</div>
		<div class="row">
			<div class="team-member-holder mb20-xs">
				<div class="col-sm-4 text-center">
					<!-- Image -->
					<img alt="Team Member 1" class="img-responsive br-2 team-member-img-top" src="/assets/images/team/fabian.jpg">			
					<!-- Name -->
					<h4 class="team-member-name-imgtop">Fabian Elliott</h4>
					<!-- About -->
					<div class="team-description">
						<p>CEO & Founder</p>
						<a href="https://twitter.com/Fabian_Elliott"><span class="ion-social-twitter team-ico mr15"></span></a>
						<a href="https://www.facebook.com/fabian.elliott.9"><span class="ion-social-facebook team-ico mr15"></span></a>
						<a href="https://www.linkedin.com/in/fabianelliott"><span class="ion-social-linkedin-outline team-ico"></span></a>
					</div>
				</div>
			</div>
			<div class="team-member-holder mb20-xs">
				<div class="col-sm-4 text-center">
					<!-- Image -->
					<img alt="Team Member 1" class="img-responsive br-2 team-member-img-top" src="/assets/images/team/myron.jpg">			
					<!-- Name -->
					<h4 class="team-member-name-imgtop">Myron Hicks</h4>
					<!-- About -->
					<div class="team-description">
						<p>Tech</p>
						<a href="https://twitter.com/myronjhicks"><span class="ion-social-twitter team-ico mr15"></span></a>
						<a href="https://www.facebook.com/hicks.myron"><span class="ion-social-facebook team-ico mr15"></span></a>
						<a href="https://www.linkedin.com/in/myron-hicks-06225a31"><span class="ion-social-linkedin-outline team-ico"></span></a>
					</div>
				</div><!-- /column -->
			</div>
			<div class="team-member-holder mb20-xs">
				<div class="col-sm-4 text-center">
					<!-- Image -->
					<img alt="Team Member 1" class="img-responsive br-2 team-member-img-top" src="/assets/images/team/dee.jpg">			
					<!-- Name -->
					<h4 class="team-member-name-imgtop">Dineo Seakamela</h4>
					<!-- About -->
					<div class="team-description">
						<p>Marketing & Communications</p>
						<a href="#"><span class="ion-social-twitter team-ico mr15"></span></a>
						<a href="https://www.facebook.com/Dineo92?fref=ts"><span class="ion-social-facebook team-ico mr15"></span></a>
						<a href="https://www.linkedin.com/in/dineo-seakamela-5baa554b"><span class="ion-social-linkedin-outline team-ico"></span></a>
					</div>
				</div><!-- /column -->
			</div>
		</div>
		<div class="row">
			<div class="team-member-holder mb20-xs">
				<div class="col-sm-4 text-center">
					<!-- Image -->
					<img alt="Team Member 1" class="img-responsive br-2 team-member-img-top" src="/assets/images/team/nehemiah.jpg">			
					<!-- Name -->
					<h4 class="team-member-name-imgtop">Nehemiah Bishop</h4>
					<!-- About -->
					<div class="team-description">
						<p>Operations</p>
						<a href="https://twitter.com/bishopiam13"><span class="ion-social-twitter team-ico mr15"></span></a>
						<a href="https://www.facebook.com/nehemiah.bishop"><span class="ion-social-facebook team-ico mr15"></span></a>
						<a href="#"><span class="ion-social-linkedin-outline team-ico"></span></a>
					</div>
				</div><!-- /column -->
			</div>
			<div class="team-member-holder mb20-xs">
				<div class="col-sm-4 text-center">
					<!-- Image -->
					<img alt="Team Member 1" class="img-responsive br-2 team-member-img-top" src="/assets/images/team/corey.jpg">			
					<!-- Name -->
					<h4 class="team-member-name-imgtop">Corey Thurman</h4>
					<!-- About -->
					<div class="team-description">
						<p>Product</p>
						<a href="https://twitter.com/CoreyThurman"><span class="ion-social-twitter team-ico mr15"></span></a>
						<a href="#"><span class="ion-social-facebook team-ico mr15"></span></a>
						<a href="https://www.linkedin.com/in/coreythurman"><span class="ion-social-linkedin-outline team-ico"></span></a>
					</div>
				</div><!-- /column -->
			</div>
			<div class="team-member-holder mb20-xs">
				<div class="col-sm-4 text-center">
					<!-- Image -->
					<img alt="Team Member 1" class="img-responsive br-2 team-member-img-top" src="/assets/images/team/rachel.jpg">			
					<!-- Name -->
					<h4 class="team-member-name-imgtop">Rachel Green</h4>
					<!-- About -->
					<div class="team-description">
						<p>Marketing & Communications</p>
						<a href="https://www.facebook.com/profile.php?id=22012311&fref=ts"><span class="ion-social-twitter team-ico mr15"></span></a>
						<a href="https://www.facebook.com/profile.php?id=22012311&fref=ts"><span class="ion-social-facebook team-ico mr15"></span></a>
						<a href="https://www.linkedin.com/in/rachelgreenwalker"><span class="ion-social-linkedin-outline team-ico"></span></a>
					</div>
				</div><!-- /column -->
			</div>
		</div>
		<div class="row">
			<div class="team-member-holder mb20-xs">
				<div class="col-sm-4 text-center">
					<!-- Image -->
					<img alt="Team Member 1" class="img-responsive br-2 team-member-img-top" src="/assets/images/team/floyd.jpg">			
					<!-- Name -->
					<h4 class="team-member-name-imgtop">Floyd Webb</h4>
					<!-- About -->
					<div class="team-description">
						<p>Tech</p>
						<a href="#"><span class="ion-social-twitter team-ico mr15"></span></a>
						<a href="#"><span class="ion-social-facebook team-ico mr15"></span></a>
						<a href="https://www.linkedin.com/in/floydwebb"><span class="ion-social-linkedin-outline team-ico"></span></a>
					</div>
				</div><!-- /column -->
			</div>
			<div class="team-member-holder mb20-xs">
				<div class="col-sm-4 text-center">
					<!-- Image -->
					<img alt="Team Member 1" class="img-responsive br-2 team-member-img-top" src="/assets/images/team/wilkerson.jpg">			
					<!-- Name -->
					<h4 class="team-member-name-imgtop">Edward Wilkerson Jr.</h4>
					<!-- About -->
					<div class="team-description">
						<p>Fundraising</p>
						<a href="#"><span class="ion-social-twitter team-ico mr15"></span></a>
						<a href="#"><span class="ion-social-facebook team-ico mr15"></span></a>
						<a href="#"><span class="ion-social-linkedin-outline team-ico"></span></a>
					</div>
				</div><!-- /column -->
			</div>
			<div class="team-member-holder mb20-xs">
				<div class="col-sm-4 text-center">
					<!-- Image -->
					<img alt="Team Member 1" class="img-responsive br-2 team-member-img-top" src="/assets/images/team/leslie.jpg">			
					<!-- Name -->
					<h4 class="team-member-name-imgtop">Leslie Page-Piper</h4>
					<!-- About -->
					<div class="team-description">
						<p>Metrics</p>
						<a href="#"><span class="ion-social-twitter team-ico mr15"></span></a>
						<a href="#"><span class="ion-social-facebook team-ico mr15"></span></a>
						<a href="https://www.linkedin.com/in/leslie-page-piper-48750040"><span class="ion-social-linkedin-outline team-ico"></span></a>
					</div>
				</div><!-- /column -->
			</div>
		</div>
	</div>
</section>