<div class="cta2 arrow-up">
    <div class="container text-center">
        <h2>Our Vision</h2>
         <p>To establish Chicago as the vanguard for collaboration and innovation for the black community.</p>
    </div>
</div>