<section class="content-40mg">
                <div class="container">

                    <div class="row">
                        <div class="col-sm-5 mb30-xs text-center">
                            <div class="content-box-profile content-box-bordered no-margin">
                                 <!-- Image -->
                                <img alt="Fabian Elliott" class="img-responsive br-2 team-member-profile" src="/assets/images/team/fabian.jpg">
                                <!-- Name -->
                                <h4 class="team-member-name-imgtop">Fabian Elliott <br><small class="text-muted no-padding">Founder</small></h4>
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <div class="heading"><h4>Welcome</h4></div>
                            <p>At Black Tech Mecca, we believe that the development of a thriving black tech ecosystem will empower the black community, propel the tech community, and introduce a new competitive advantage for the city. However, a thriving black tech ecosystem will not just appear out of thin air. It must be deliberately and meticulously constructed. Our specific focus is to strengthen connections within the community, quantify collective impact, drive growth and tell the world about it. Join the fun. Join the movement. Come build with us!</p>
                        </div>
                    </div>

                </div>
            </section>