<section class="content-40mg">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="heading mb20">
					<h4><span class="mb15"></span>What is Black Tech Mecca</h4>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 responsive-video">
				<iframe src="https://player.vimeo.com/video/131450910?title=0&byline=0&portrait=0" width="500" height="281" style="border: none; border-width: 0px;"></iframe>
			</div>

			<div class="col-sm-6">
				<ul role="tablist" class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" role="tab" href="#mission" aria-expanded="true">Mission</a></li>
					<li class=""><a data-toggle="tab" role="tab" href="#vision" aria-expanded="false">Vision</a></li>
				</ul>
				<div class="tab-content tab-default">
					<div id="mission" class="tab-pane active">
						<p>Black Tech Mecca is a collaborative community initiative that is building a thriving black tech ecosystem in Chicago by strengthening connections, quantifying impact, and directing growth for individuals, community organizations, and companies.</p>
					</div>
					<div id="vision" class="tab-pane">
						<p>To establish Chicago as the vanguard for collaboration and innovation for the black community.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>