<section class="content-40mg">
	<div class="container">
		<div class="row">
			<div class="heading"><h4><span class="mb15">
				</span>What We Do?</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4 text-center">
				<span class="ion-android-share bordered-icon-lg"></span> 
				<h4 class="mt15">Connect.</h4>
				<p class="no-margin">We are currently focusing  on the development of the Ecosystem Network, an online community platform that will connect Chicago’s black tech community.</p>
			</div>
			<div class="col-sm-4 text-center">
				<span class="ion-stats-bars bordered-icon-lg"></span>
				<h4 class="mt15">Measure.</h4>
				<p class="no-margin">In addition to connecting the black tech community, our platform will measure the activity and impact of our ecosystem, by providing insights through our custom metrics framework.</p>
			</div>
			<div class="col-sm-4 text-center">
				<span class="ion-arrow-shrink bordered-icon-lg"></span> 
				<h4 class="mt15">Direct.</h4>
				<p class="no-margin">Use the data from our metrics to share valuable insights and strategically drive the growth of our ecosystem.</p>
			</div>
		</div>
	</div>
<section>