<section class="content-40mg">
	<div class="container">
		<div class="row">		
			<div class="col-sm-12">
				<div class="heading"><h4>Why Chicago?</h4></div>
			</div>
		</div>
		<div class="row">
			<div class="span12">
				<div id="owl-demo" class="owl-carousel">
					<div class="item why-item">
						<div class="overlay-hover" style="text-align: center;">
							<img width="350" height="250" class="img-circle img-responsive" src="/assets/images/why/global_city.jpg" alt="Power City">
							<h4>Power City</h4>
							<div class="overlay-effect">
								<p>Chicago is a major player on the global stage. It is the 3rd largest city in the US and ranked #7 in the world on the 2014 Global Cities Index.</p>
							</div>
						</div>
					</div>
					<div class="item why-item">
						<div class="overlay-hover" style="text-align: center;">
							<img class="img-circle img-responsive" src="/assets/images/why/vibrant.jpg" alt="Vibrant Tech Scene" width="350" height="250">
							<h4>Vibrant Tech Scene</h4>
							<div class="overlay-effect">
								<p>Chicago is the top U.S. city for growth-stage technology companies. All of the generations of major tech giants have a presence in the city, and the number of jobs at tech companies in Chicago are growing at a rate that puts the city at sixth on this measure among the nation's top 20 tech markets.</p>
							</div>
						</div>
					</div>
					<div class="item why-item">
						<div class="overlay-hover" style="text-align: center;">
							<img class="img-circle img-responsive" src="/assets/images/why/clear_vision.jpg" alt="Clear City Vision" width="250" height="250">
							<h4>Clear City Vision</h4>
							<div class="overlay-effect">
								<p>The Chicago Technology Plan consists of 28 initiatives within five broad strategies that together will enable the city to realize its vision of becoming the city where technology fuels opportunity, inclusion, engagement, and innovation.</p>
							</div>
						</div>
					</div>
					<div class="item why-item">
						<div class="overlay-hover" style="text-align: center;">
							<img class="img-circle img-responsive" src="/assets/images/why/strong.jpg" alt="Strong Black Nucleus" width="350" height="250">
							<h4>Strong Black Nucleus</h4>
							<div class="overlay-effect">
								<p>Third largest urban Black population in the United States, a history of black influence, and current direct connections to some of the most powerful black people on the planet from President Obama to Oprah and countless other power brokers.</p>
							</div>
						</div>
					</div>
					<div class="item why-item">
						<div class="overlay-hover">
							<img class="img-circle img-responsive" src="/assets/images/InnovativeEcosystem.jpg" alt="Innovative Ecosystem" width="350" height="250">
							<h4>Collaborative Culture</h4>
							<div class="overlay-effect">
								<p>Oddly enough, there currently is no ‘Global Black Tech Mecca’ so we are creating the very first one in Chicago. We are collaborating with key community partners to; define the holistic black tech ecosystem for our city in detail, develop a measurement system, and take a technology first approach to enable ecosystem growth.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>