            <!-- Begin Footer -->
            <footer class="footer-light">
                <div class="container">
                    <div class="row">
                        <!-- Social -->
                        <div class="col-sm-3 mg25-xs">
                            <div class="heading-footer"><h4>Social Networks</h4></div>
                            <a class="btn btn-social-icon btn-twitter btn-lg" href="https://twitter.com/blacktechmecca" target="_blank">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a class="btn btn-social-icon btn-instagram btn-lg" href="https://instagram.com/blacktechmecca" target="_blank">
                                <i class="fa fa-instagram"></i>
                            </a>
                            <a class="btn btn-social-icon btn-facebook btn-lg" href="https://www.facebook.com/blacktechmecca" target="_blank">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a class="btn btn-social-icon btn-linkedin btn-lg" href="https://www.linkedin.com/company/black-tech-mecca" target="_blank">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </div>

                        <div class="col-sm-6">
                            <div class="heading-footer"><h4>Sign up for the BTM Weekly Connect!</h4></div>
                            <form action="/subscribers" method="post" class="form-inline" role="form">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">@</div>
                                        <input class="form-control" name="subscriber[email]" type="email" placeholder="Enter email">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input class="form-control" name="subscriber[location]" type="text" placeholder="State/Country">
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-rw btn-default ml15">Sign up</button>
                            </form>
                        </div>

                        <!-- Contact -->
                        <div class="col-sm-3 mg25-xs">
                            <div class="heading-footer"><h4>Contact us</h4></div>
                            <p><span class="ion-email footer-info-icons"></span><small class="address"><a href="mailto:info@raleway.com">info@blacktechmecca.org</a></small></p>
                        </div>
                    </div>
                    <!-- Copyright -->
                    <div class="row">
                        <hr>
                        <div class="col-sm-11 col-xs-10">
                            <p class="copyright">© 2015 BlackTechMecca. All rights reserved.</p>
                        </div>
                        <div class="col-sm-1 col-xs-2 text-right">
                            <a href="#" class="scroll-top"><div class="footer-scrolltop-holder"><span class="ion-ios7-arrow-up footer-scrolltop"></span></div></a>
                        </div>
                    </div><!-- /row -->
                    
                </div><!-- /container -->
            </footer><!-- /footer -->
            <!-- End Footer -->