<header>
<!-- Begin Top Bar -->
    <div class="top-bar">
        <div class="container">
            <div class="row">
                <!-- Address and Phone -->
                <div class="col-sm-7 hidden-xs">
                    <span class="ion-email phone-icon"></span>info@blacktechmecca.org
                </div>
                <!-- Social Buttons -->
                <div class="col-sm-5 text-right">
                                <ul class="topbar-list list-inline">
                                    <li>
                                        <a href="https://twitter.com/blacktechmecca" class="btn btn-social-icon btn-rw btn-primary btn-xs" target="_blank">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                        <a href="https://instagram.com/blacktechmecca" class="btn btn-social-icon btn-rw btn-primary btn-xs" target="_blank">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                        <a href="https://www.facebook.com/blacktechmecca" class="btn btn-social-icon btn-rw btn-primary btn-xs" target="_blank">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li><a data-target="#register" data-toggle="modal">Register</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Top Bar -->
                <!-- Login -->
                <div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="loginLabel" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                <h4 class="modal-title" id="loginLabel">Coming Soon...</h4>
                            </div>
                            <div class="modal-body">
                                <p>We are in the process of building a dynamic online community platform. Click Sign Up below if you would like to become a Beta Tester for the Ecosystem Network.</p>
                            </div>
                            <div class="modal-footer">
                                <a href="https://docs.google.com/a/blacktechmecca.org/forms/d/1zVrLRrRTza9x3-dYarOPJkLcSLBjxLneBEmLQtnaWMw/viewform?c=0&w=1" class="btn btn-rw btn-primary" role="button">Sign Up</a>
                            </div>
                        </div><!-- /modal content -->
                    </div><!-- /modal dialog -->
                </div><!-- /modal holder -->
                <!-- End Login -->
                <!-- Begin Navigation -->
                <div class="navbar-wrapper">
                    <div class="navbar navbar-main" id="fixed-navbar">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12 column-header">
                                    <div class="navbar-header">
                                        <!-- Brand -->
                                        <a href="/" class="navbar-brand">
                                            <span><img src="/assets/images/btm_logo.png"> Black Tech Mecca</span>
                                        </a>
                                        <!-- Mobile Navigation -->
                                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
                                            <span class="sr-only">Toggle navigation</span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                                    </div><!-- /navbar header -->

                                    <nav class="navbar-collapse collapse navHeaderCollapse" role="navigation">
                                        <ul class="nav navbar-nav navbar-right">
                                            <li> <%= link_to "Home", root_path %></li>
                                            <li> <%= link_to "About Us", about_path %></li>
                                            <li class="dropdown dropdown-main">
                                                <a data-toggle="dropdown" class="dropdown-toggle" href="#">Resources<span class="fa fa-angle-down dropdown-arrow">
                                                </span></a>
                                                <ul class="dropdown-menu dropdown-subhover">
                                                    <li><%= link_to "Press", press_path %></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
</header><!-- /header-->
