<!-- Javascript Files -->
    <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script> <!-- -->
    <script type="text/javascript" src="/assets/js/jquery.easing.min.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.mixitup.min.js"></script>
    <script type="text/javascript" src="/assets/js/scrollReveal.js"></script>
    <script type="text/javascript" src="/assets/js/owl.carousel.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.snippet.min.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.fitvids.js"></script>
    <script type="text/javascript" src="/assets/js/activate-snippet.js"></script>
    <script type="text/javascript" src="/assets/js/skrollr.min.js"></script>

    <!-- On Scroll Animations - scrollReveal.js -->
    <script>
        var config = {
        easing: 'hustle',
        mobile:  true,
        delay:  'onload'
        }
        window.sr = new scrollReveal( config );
    </script>

    <!-- Slider Revolution JS -->
    <script type="text/javascript" src="/assets/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="/assets/revolution/js/jquery.themepunch.revolution.min.js"></script>

    <script type="text/javascript" src="/assets/js/main.js"></script>

    <!-- Slider Revolution Main -->
    <script type="text/javascript">
    jQuery(document).ready(function() { 
       jQuery("#slider1").revolution({
            sliderType:"standard",
            startDelay:2500,
            spinner:"spinner2",
            sliderLayout:"auto",
            viewPort:{
               enable:false,
               outof:'wait',
               visible_area:'100%'
            }
            ,
            delay:9000,
            navigation: {
                keyboardNavigation:"off",
                keyboard_direction: "horizontal",
                mouseScrollNavigation:"off",
                onHoverStop:"off",
                arrows: {
                    style:"erinyen",
                    enable:true,
                    hide_onmobile:true,
                    hide_under:600,
                    hide_onleave:true,
                    hide_delay:200,
                    hide_delay_mobile:1200,
                    tmp:'<div class="tp-title-wrap">    <div class="tp-arr-imgholder"></div>    <div class="tp-arr-img-over"></div> <span class="tp-arr-titleholder">{{title}}</span> </div>',
                    left: {
                        h_align:"left",
                        v_align:"center",
                        h_offset:30,
                        v_offset:0
                    },
                    right: {
                        h_align:"right",
                        v_align:"center",
                        h_offset:30,
                        v_offset:0
                    }
                }
                ,
                touch:{
                    touchenabled:"on",
                    swipe_treshold : 75,
                    swipe_min_touches : 1,
                    drag_block_vertical:false,
                    swipe_direction:"horizontal"
                }
                ,
                bullets: {
                    enable:true,
                    hide_onmobile:true,
                    hide_under:600,
                    style:"hermes",
                    hide_onleave:true,
                    hide_delay:200,
                    hide_delay_mobile:1200,
                    direction:"horizontal",
                    h_align:"center",
                    v_align:"bottom",
                    h_offset:0,
                    v_offset:30,
                    space:5
                }
            },
            gridwidth:1240,
            gridheight:497,
            disableProgressBar: "on" 
        }); 
    }); 
    </script>

    <script type="text/javascript">
        $("#owl-demo").owlCarousel({
            items : 3,
            lazyLoad : true,
            autoPlay: true,
            navigation : true,
            navigationText: [
              "<i class='fa fa-angle-left'></i>",
              "<i class='fa fa-angle-right'></i>"
            ],
            navigation : false
      });

        $('#feature .thumbnail').hover(
            function(){
                $(this).find('.caption').slideDown(250);
            },
            function(){
                $(this).find('.caption').slideUp(250);
            }
        );
    </script>